{% extends 'base.html.twig' %}

{% block body %}

<div class="post-preview">
  <h2 class="post-title">{{ article.title }}</h2>
  <h3 class="post-subtitle">
    Man must explore, and this is exploration at its greatest
  </h3>
  <img src="{{ article.picture }}">
  <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on {{ article.publishedAt|date('d m Y') }}</p>
  <p>{{ article.content }}</p>
</div>

{% endblock %}